@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cafe24ProUp";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/Cafe24PROUP.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "RoundedFixedsys";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@layer base {
  .main-bg {
    background-image: url("./assets/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
